body {
  margin: 0;
  padding: 0;
}

.earth {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.caption {
  color: #9acd32;
}

.garden {
  width: 100px;
  height: 100px;
  border: 2px solid #cccccc;
  border-radius: 20px;
  position: relative;
}

.ball {
  width: 20px;
  height: 20px;
  background-color: #9acd32;
  border-radius: 50%;
  position: absolute;
}

.button {
  margin-top: 20px;
  font-size: 13px;
  border-radius: 13px;
  background-color: #9acd32;
  color: #ffffff;
  border-color: #ffffff;
}
